@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --text-corp: #012758;
  --bg-corp: #436DFB;
  --bg-corp-light: #598BE0;
  --bg-corp-dark: #325488;
}

.text-corp {
  color: var(--text-corp);
}

.bg-corp {
  background-color: var(--bg-corp);
}
.bg-corp-light {
  background-color: var(--bg-corp-light);
}
.bg-corp-dark {
  background-color: var(--bg-corp-dark);
}
.bg-corp-light:hover {
  background-color: var(--bg-corp);
}

.bg-transparent {
  background-color: transparent;
}
  .btn-toggle-group {
    display: flex;
    gap: 1rem;
  }

  .btn-toggle-group:hover .btn:not(:hover) {
    opacity: 0.6;
    filter: grayscale(40%);
  }

  .btn-toggle-group .btn {
    transition: all 0.3s ease;
  }


.diamond-container {
  position: relative;
  width: 600px;
  height: 600px;
  margin: auto;
}

.diamond {
  position: absolute;
  width: 185px;
  height: 185px;
  /* background: transparent; */
  background-image: url('../images/part.svg');
  transform: rotate(45deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.diamond img {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  transform: rotate(-45deg);
}

.diamond p {
  transform: rotate(-45deg);
  font-size: 16px;
  color: #007BFF;
  margin: 0;
  padding: 0 10px;
}

.diamond.top {
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.diamond.bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.diamond.left {
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(45deg);
}

.diamond.right {
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(45deg);
}

.center-square {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  background: #007BFF;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}



.bg-belgisi {
  background-image: url('../images/belgisi_banner.png');
}

.belgisi {
  max-width: 840px;
  min-height: 400px;
}


.step-box {
  background-color: #f4f4f4;
  padding: 1.5rem;
  border-radius: 0.5rem;
  position: relative;
  min-height: 100%;
}
.step-number-left {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.step-number-right {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.shadow-none {
  box-shadow: none !important;
}