@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --text-corp: #00AE4C;
  --bg-corp: #00AE4C;
  --bg-corp-light: #D6F64B;
  --bg-corp-dark: #03624C;
  --bg-secondary: #E79251;
}

.text-corp {
  color: var(--text-corp);
}

.bg-corp {
  background-color: var(--bg-corp);
}
.bg-corp-light {
  background-color: var(--bg-corp-light);
}
.bg-corp-dark {
  background-color: var(--bg-corp-dark);
}
.bg-corp-light:hover {
  background-color: var(--bg-corp);
}

.bg-secondary {
  background-color: var(--bg-secondary)!important;
}

.hover {
  transition: all 0.3s ease;
  color: #fff;
  opacity: 0.8;
}

.hover:hover {
  filter: brightness(1.2);
}

.bg-transparent {
  background-color: transparent;
}
  .btn-toggle-group {
    display: flex;
    gap: 1rem;
  }

  .btn-toggle-group:hover .btn:not(:hover) {
    opacity: 0.6;
    filter: grayscale(40%);
  }

  .btn-toggle-group .btn {
    transition: all 0.3s ease;
  }


.diamond-section {
  display: flex;
  justify-content: end;
  align-items: center;
  right: 0;
  padding: -60px 0;
  top: 0;
  /* background: linear-gradient(135deg, #00b050, #00a14b); */
}

.diamond-container {
  position: relative;
  width: 530px;
  height: 530px;
}

.diamond {
  position: absolute;
  width: 185px;
  height: 185px;
  transform: rotate(45deg);
}

.diamond-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  border-radius: 20px;
}

.diamond-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
}

.diamond-content img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.diamond-content p {
  font-size: 16px;
  color: white;
  margin: 0;
  line-height: 1.3;
}

.diamond.top {
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(20deg);
}

.diamond.bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(20deg);
}

.diamond.left {
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(20deg);
}

.diamond.right {
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(20deg);
}

.center-square {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--bg-corp-dark);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}


.border-muted {
  border: 0.5px solid gray !important;
}

.bg-belgisi {
  background-image: url('../images/belgisi_banner.png');
}

.belgisi {
  max-width: 840px;
  min-height: 400px;
}


.step-number-left {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-200%, -135%);
  background-color: #ff8000; 
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


.step-number-right {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(50%, -135%);
  background-color: #ff8000; 
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 5;
}

.step-number-left-mb {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-200%, -135%);
  background-color: #ff8000; 
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


.step-number-right-mb {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(50%, -135%);
  background-color: #ff8000; 
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 5;
}




.shadow-none {
  box-shadow: none !important;
}

 .border-secondary {
  border-bottom: 3px solid var(--bg-secondary) !important;
}